<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pratik.appedia.com.moviemania">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MoviesListActivity"
            android:theme="@style/MovieListScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InformationActivity"
            android:theme="@style/InfoScreenTheme">

        </activity>
        <activity android:name=".MovieDetailsActivity"
            android:theme="@style/DetailsScreenTheme">

        </activity>
    </application>

</manifest>